<form role="form" ng-submit="onRegister(register);">
<div style="background-color:#FFE0E0;text-align: center;margin-top:10px;padding-top:10px;padding-bottom:10px;">
<label style="padding-right:70px">Username </label>
<input type="text" ng-model="register.regUname" required/><Br />
<label style="padding-right:70px">Password</label>
<input type="text" ng-model="register.regPword" required/><Br />
<label style="padding-right:17px">Confirm Password</label>
<input type="text" ng-model="register.regCPword" required/><Br />
<label style="padding-right:102px">Mail</label>
<input type="text" ng-model="register.regMail" required/><Br />
<label style="padding-right:90px">Phone</label>
<input type="number" ng-model="register.regPhone"/><Br />
<input type="submit" value="Register" /><Br />
</div>
</form>